<a href="https://colab.research.google.com/github/JFang2023/JF/blob/main/%20Machine%20Learning/End%20to%20End%20Project/Preprocessing%20Data%20with%20ScikitLearn/ScikitLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import io

In [25]:
#reading data from the csv file
from google.colab import files
uploaded  = files.upload()
data = pd.read_csv(io.BytesIO(uploaded["data.csv"]))

Saving data.csv to data (1).csv

In [26]:
data.head()

   Number of Kids  Working Experience(years)  Age  Salary Blood Types
0               3                       15.0   45  250000           A
1               1                        5.0   30  200000           B
2               2                       10.0   38  150000          AB
3               1                        NaN   36  180000           O

In [27]:
#Fill in the missing data with the median of the column “Working Experience(years)”
data["Working Experience(years)"].fillna(data["Working Experience(years)"].median(),inplace=True)

In [28]:
data.head()

   Number of Kids  Working Experience(years)  Age  Salary Blood Types
0               3                       15.0   45  250000           A
1               1                        5.0   30  200000           B
2               2                       10.0   38  150000          AB
3               1                       10.0   36  180000           O

In [29]:
#correlation of "Number of Kids" and "Working Expereince"
data["Number of Kids"].corr(data["Working Experience(years)"])

0.8528028654224418

In [30]:
#correlation of "Number of Kids" and "Age"
data["Number of Kids"].corr(data["Age"])

0.9147673836616229

Based on the correlations, “Age” is more related to "Number of Kids" because the correlation of “Age” and “Number of Kids” is closer to perfect positive correlation 1.

In [31]:
#One-Hot Vectors convert the Blood Types
blood_types_encoded,categories=data["Blood Types"].factorize()
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
blood_type_cat_1hot = encoder.fit_transform(blood_types_encoded.reshape(-1,1))
blood_type_cat_1hot

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [32]:
one_hot=pd.get_dummies(data,columns=["Blood Types"],drop_first=False,prefix='',prefix_sep='')
one_hot

   Number of Kids  Working Experience(years)  Age  Salary  A  AB  B  O
0               3                       15.0   45  250000  1   0  0  0
1               1                        5.0   30  200000  0   0  1  0
2               2                       10.0   38  150000  0   1  0  0
3               1                       10.0   36  180000  0   0  0  1

In [33]:
data=data.drop("Blood Types",axis=1)
data=data.join(one_hot["A"])
data=data.join(one_hot["B"])
data=data.join(one_hot["AB"])
data=data.join(one_hot["O"])
data

   Number of Kids  Working Experience(years)  Age  Salary  A  B  AB  O
0               3                       15.0   45  250000  1  0   0  0
1               1                        5.0   30  200000  0  1   0  0
2               2                       10.0   38  150000  0  0   1  0
3               1                       10.0   36  180000  0  0   0  1

In [34]:
#Use StandardScale to scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(data),columns=["Number of Kids","Working Experience(years)","Age",
           "Salary","Blood Type A","Blood Type B","Blood Type AB","Blood Type O"])

In [35]:
data_scaled.round(decimals=2)

,Number of Kids,Working Experience(years),Age,Salary,Blood Type A,Blood Type B,Blood Type AB,Blood Type O
0,1.51,1.41,1.45,1.51,1.73,-0.58,-0.58,-0.58
1,-0.90,-1.41,-1.35,0.14,-0.58,1.73,-0.58,-0.58
2,0.30,0.00,0.14,-1.24,-0.58,-0.58,1.73,-0.58
3,-0.90,0.00,-0.23,-0.41,-0.58,-0.58,-0.58,1.73